


<div class="list-group">
	<li ng-repeat="name in pad.filenames track by $index"
	    ng-click="onSelect($index)" 
	    ng-class="{active: isActive($index) && !isEditing($index), 'list-group-item': true}"
	    >

	   	<div ng-switch on="isEditing($index)">
	   		<span ng-switch-when="false">
	   			{{name}}
		   		<span class="pull-right" ng-show="!isReadme(name) && isActive($index)">
	   				<a 
	   					ng-click="onDelete($index)"
	   					data-toggle="tooltip" 
 						title="delete"
	   					app-tooltip>
	   					<span class="fa fa-trash-o"></span>
	   				</a>

	   				<a 
	   					ng-click="onEdit()"
	   					data-toggle="tooltip" 
 						title="rename"
	   					app-tooltip>
	   					<span class="fa fa-pencil"></span>
	   				</a>
		   		</span>
	   		</span>
	   		

	   		<span ng-switch-when="true" ng-click="$event.stopPropagation()">

	   			<form 
	   				class="form-inline" 
	   				role="form" 
	   				ng-show="isEditing($index)" 
	   				novalidate 
	   				ng-submit="onSubmit($index)">

	   				<div class="input-group" ng-class="{'has-error': !validate(form.filenames[$index], $index) && renameform.$dirty}" ng-form="renameform">
	   					<input 
	   						name="filename"
	   						type="text" 
	   						class="form-control"
	   						ng-model="form.filenames[$index]"
	   						autofocus="isEditing($index)">

	   					<div class="input-group-btn">
		   					<button 
		   						type="button" 
		   						class="btn btn-default" 
		   						data-toggle="tooltip" 
 								title="cancel"
		   						ng-click="onCancel($index)"
		   						app-tooltip>
		   						<span class="fa fa-times"></span>
		   					</button>
	   						<button 
	   							type="submit" 
	   							class="btn btn-primary" 
		   						ng-disabled="!validate(form.filenames[$index], $index)" 
	   							data-toggle="tooltip" 
 								title="ok"
	   							app-tooltip>
	   							<span class="fa fa-check"></span>
	   						</button>
	   					</div>
	   				</div>
	   				<span 
	   					class="help-block text-warning" 
	   					ng-hide="validate(form.filenames[$index], $index) || renameform.$pristine">
	   					please input a valid filename
	   				</span>	
	   			</form>
	   		</span>
	   	</div>
	</li>
</div>