<div class="affix" data-top-limit='.ats-pad-readme .panel' data-bottom-limit='#ats-pad-editor' app-affix>
	<button class="btn btn-primary btn-block" 
		ng-click="newpad()" 
		data-toggle="tooltip" 
		data-placement="auto" 
		title="create a new pad">New Pad</button>

	<div class="btn-group-vertical btn-block">

		<button class="btn btn-default" 
			ng-click="forkpad()" 
			data-toggle="tooltip" 
			data-placement="auto" 
			title="fork a new pad based on this pad">Fork Pad</button>

		<button class="btn btn-default" 
			data-toggle="modal"
			data-target="#del-warning">
			<span 
				data-toggle="tooltip" 
				data-placement="auto" 
				title="delete this pad">
				Delete Pad
			</span>
		</button>

	</div>

	<hr/>

	<button type="button" class="btn btn-primary btn-block"
			ng-click="run()"
			data-toggle="tooltip"
			data-placement="auto"
			title="run with default options">Run</button>
	
	<form role="form">
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="flags.ATS_MEMALLOC_LIBC">-DATS_MEMALLOC_LIBC
			</label>
		</div>
	</form>

	<button type="button" class="btn btn-default btn-block"
			ng-click="typecheck()"
			data-toggle="tooltip"
			data-placement="auto"
			title="typecheck current file">Type Check</button>

	<hr/>

	<section class="ats-pad-embed">
		<h4>Embed</h4>
		<div class="well">Comming Soon</div>
	</section>

	<section class="ats-pad-share">
		<h4>Share</h4>
		<div class="well">Comming Soon</div>
	</section>

	<hr/>
	<section>
		<h4>Theme</h4>
		<select class="form-control" app-theme-chooser id-css="appThemeChooser"></select>
	</section>
</div>

<div id="del-warning" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content panel-warning">
			<div class="modal-header panel-heading">
				
				<h4 class="modal-title">Warning
					<button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
				</h4>
			</div>
			<div class="modal-body">
				<p>This will delete the pad permanently, and this couldn't be undone. Are you going to delete it?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" ng-click="deletepad()" data-dismiss="modal">Delete</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->