<div class="btn-toolbar" role="toolbar">
	<div class="btn-group btn-group-sm" >
		<button class="btn btn-default" disabled="disabled"><span class="fa fa-folder-open-o"></span></button>
	</div>

	<div class="pull-right btn-group btn-group-sm">
		<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="auto" title="upload local files to this pad (comming soon)"><span class="fa fa-cloud-upload"></span></button>
		<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="auto" title="download this pad to your computer"><a download ng-href="{{downloadUrl}}"><span class="fa fa-cloud-download"></a></span></button>
		<button type="button" class="btn btn-default" ng-click="service.create(pad)" data-toggle="tooltip" data-placement="auto" title="create a new file"><span class="fa fa-plus"></span></button>
	</div>
	
	<div class="pull-right btn-group btn-group-sm">
		<!-- todo -->
		<button class="btn btn-default"  ng-click="syncToClient()" data-toggle="tooltip" data-placement="auto" title="pull remote changes into this pad"><span class="fa fa-refresh"></span></button>               
	</div>
</div>	