<ul class="nav nav-pills nav-stacked">                  
    <li ng-repeat="name in env.filenames track by $index" ng-class="{active: is_active($index)}">
        <a href="#" ng-click="switch_to($index)" class="file" ng-show="!env.editing[$index]">{{name}}
            <span ng-if="env.filenames[$index] != 'README.md'">
                <button type="button" ng-class="file_control_class($index)" ng-click="delete_file($index)"><span class="fa fa-trash-o"></span></button>
                <button type="button" ng-class="file_control_class($index)" ng-click="env.editing[$index]=true"><span class="fa fa-pencil"></span></button>
            </span>
        </a>

        <div class="input-group" ng-show="env.editing[$index]">
            <input type="text" class="form-control" ng-model="env.filenames[$index]" autofocus>
            <div class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="env.editing[$index]=false"><span class="fa fa-check"></span></button>
            </div>
        </div>

    </li>
</ul>