<div class="btn-toolbar" role="toolbar">
	<div class="btn-group btn-group-sm" >
		<button class="btn btn-default" disabled="disabled"><span class="fa fa-folder-open-o"></span></button>
	</div>

	<div class="pull-right btn-group btn-group-sm">
		<button type="button" class="btn btn-default"><span class="fa fa-cloud-upload"></span></button>
		<button type="button" class="btn btn-default"><span class="fa fa-cloud-download"></span></button>
		<button type="button" class="btn btn-default" ng-click="create()"><span class="fa fa-plus"></span></button>
	</div>
	
	<div class="pull-right btn-group btn-group-sm">
		<button class="btn btn-default"  ng-click="refresh()"><span class="fa fa-refresh"></span></button>               
	</div>
</div>	