@import "utility.less";
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono|Droid+Sans+Mono|Source+Code+Pro|Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,700italic);

.ats-pad-terminal {
	.terminal {
		font-family: 'Ubuntu Mono', 'Droid Sans Mono', 'Source Code Pro', 'Inconsolata', monospace;
		font-size: 12px;
		color: rgb(240, 240, 240);
		background: #383734 !important; 
		padding: 3px;
		border: none !important;
		width: 100%;
	}

	margin-top: 20px;
	widows: 100%;
}

.ats-pad-logo {
	margin-bottom: 40px;
	font-family: 'Titillium Web', sans-serif;

	h1 {
		font-size: 72px;
	}

	i {
		font-size: 22px;
	}
}

#ats-pad-editor {
	height: 500px;
	margin-top: 5px;
}

.ats-pad-files {
}

.ats-pad-embed {
	.content {
		background-color: darken(white, 5%);
		font-family: 'Ubuntu Mono', 'Droid Sans Mono', 'Source Code Pro', 'Inconsolata', monospace;
		font-size: 12px;
		padding: 2px;
	}
}

.ats-pad-input, .ats-pad-output {
	margin-top: 10px;

	.content {
		background-color: darken(white, 5%);
		font-family: 'Ubuntu Mono', 'Droid Sans Mono', 'Source Code Pro', 'Inconsolata', monospace;
		font-size: 12px;
		padding: 2px;
	}

	ul {
		padding: 0;
		list-style: none;
	}

	li:hover {
		background-color: lighten(black, 85%);
	}
}

.ats-pad-menu, .ats-pad-controls, .ats-pad-embed {
	margin-bottom: 10px;
}

.ats-pad-footer {
	margin-bottom: 40px;
}