<div class="row"><article class="ats-about ats-markdown col-md-8 col-md-offset-1"><pre app-markdown="">
**atspad** is an online playground for programming in [ATS Programming Language](http://www.ats-lang.org). You can write and run your ATS code on full featured linux containers, and share it with the rest of the world *(comming soon)*.

# Features

Although **atspad** is still in beta, it packs a lot of cool features that I would like to present here.

### Editor

**atspad** is using the best web editor [Ace Editor](http://ace.c9.io/), giving you the desktop-level ability to code in the cloud. Plus, it comes with ATS syntax and tons of other language highlighting.

### Runtime

You have a full machine to run your code, and do anything else! This is proudly backed by [Docker](http://www.docker.com/). Through the terminal, you have root access to a dedicated docker container, where you run your code, execute scripts, or just use it as a virtual machine.

# Thanks

I've been using these great projects from the community and I would like to express my gratitude.

* [ATS Programming Language](http://www.ats-lang.org) - Unleashing the potentials of types and templates. As a PhD student, this is the subject I am working on. And the **atspad** project is a tool for the eco-system.

### Frontend 
* [Bootstrap](http://getbootstrap.com/) and [Bootswatch](http://bootswatch.com/) - The most popular front-end framework for developing responsive, mobile first projects on the web.
* [Font Awesome](http://fontawesome.io/) - The iconic font and CSS toolkit.
* [Google Fonts](https://www.google.com/fonts) - Hundreds of free, open-source fonts optimized for the web.
* [Less CSS](http://lesscss.org/) and [Elements](http://www.lesselements.com/) - CSS pre-processor.
* [AngularJS](https://angularjs.org/) - HTML enhanced for web apps.
* [Ace Editor](http://ace.c9.io/) - The high performance code editor for the web.
* [jQuery](http://jquery.com/) - Wirte less, do more.
* [spin.js](http://fgnass.github.io/spin.js/) - Just spin.
* [term.js](https://github.com/chjj/term.js/) - A full xterm clone written in javascript. 
* [marked](https://github.com/chjj/marked) - A full-featured markdown parser and compiler, written in JavaScript. Built for speed.
* [highlight.js](http://highlightjs.org) - Syntax highlighting for the web.
* [Yeoman](http://yeoman.io/) - The web's scaffolding tool for modern web apps.
* [Bower](http://bower.io) - A package manager for the web
* [Grunt](http://gruntjs.com/) - The javascript task runner.
* [Coffee Script](http://coffeescript.org/) - A little language that compiles into JavaScript.

### Backend
* [Pirmus](http://primus.io/) - The creator god of the transformers & an abstraction layer for real-time to prevent module lock-in.
* [engine.io](https://github.com/automattic/engine.io) - The real-time engine.
* [Grails](http://grails.org/) - Full stack web application framework for the JVM.
* [Redis](http://redis.io/) - Advanced key-value store.
* [Docker](http://www.docker.com/) - Build, ship and run any app, anywhere.
* [node.js](http://nodejs.org/) - A platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications.
* [bouncy](https://github.com/substack/bouncy) - Pipe raw http traffic from incoming http requests to remote endpoints.
* [Vagrant Up](http://www.vagrantup.com/) - Create and configure lightweight, reproducible, and portable development environments.
* [Digital Ocean](https://www.digitalocean.com/) - Simple cloud hosting, built for developers.
* [pty.js](https://github.com/chjj/pty.js/) - Bindings to forkpty(3) for node.js.
* [winston](https://github.com/flatiron/winston/) and [winston-papertrail](https://github.com/kenperkins/winston-papertrail) - A multi-transport async logging library for node.js.
* [PapertrailApp](https://papertrailapp.com/) - Hosted log management. 
* [Redsmin](https://redsmin.com) - Tightly crafted developer oriented, online real-time monitoring and administration service for Redis.
</pre></article></div>